* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    background: #dadada;
  }
  .container {
    width: 80%;
    height: 80%;
    margin: 50px auto;
  }
  .main {
    height: 80%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }
  .img-feature {
    transition: 1s;
  }
  .list_image {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
  }
  .list_image div {
    flex: 1;
    padding: 5px;
    cursor: pointer;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .control {
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: white;
    transform: translateY(-50%);
  }
  .prev {
    left: 10px;
    cursor: pointer;
  }
  .next {
    right: 10px;
    cursor: pointer;
  }
  .active {
    background: rgb(223, 85, 85);
  }
  @keyframes slideLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  