@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
:root {
    --success: rgb(0, 128, 0);
    --warning: rgb(203, 181, 16);
    --error: rgb(244, 16, 16);

    --success-light: rgba(0, 128, 0, 0.4);
    --warning-light:rgba(203, 181, 16, 0.4);
    --error-light: rgba(244, 16, 16, 0.4);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body {
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: #ecf0f1;
}

.control button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    outline: none;
/*     font-size: 28px; */
    color: white;
    margin: 0 10px;
}

.success {
    background: var(--success);
}
.warning {
    background: var(--warning);
}
.error {
    background: var(--error);
}
#toasts {
    position: fixed;
    top: 10px;
    right: 10px;
}
.toasts {
    padding: 20px;
    border: none;
    border-radius: 6px ;
    color: white;
/*     font-size: 25px; */
    border-left: 6px solid var(--success);
    overflow: hidden;
    margin-bottom: 15px;
    animation: slide_show 3s ease forwards
}
.toasts i {
    margin: 0 10px;
}
.toasts .countdown {
    background: var(--success);
    position:absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    animation: countdown 3s ease forwards;
}
.toasts.success {
    border-left: 6px solid var(--success);
    background: var(--success-light);
}
.toasts.warning {
    border-left: 6px solid var(--warning);
    background: var(--warning-light);
}
.toasts.error {
    border-left: 6px solid var(--error);
    background: var(--error-light);
}
.toasts.warning .countdown{
    background: var(--warning);
}
.toasts.success .countdown{
    background: var(--success);
}
.toasts.error .countdown{
    background: var(--error);
}


@keyframes countdown {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@keyframes slide_show{
    0%{
        transform: translateX(100%)
    }
    25%{
        transform: translateX(-10%)
    }
    50%{
        transform: translateX(0%)
    }
    100%{
        transform: translateX(-10px)
    }
}
@keyframes slide_hide{
    0%{
        transform: translateX(-10%)
    }
    25%{
        transform: translateX(0%)
    }
    50%{
        transform: translateX(-10%)
    }
    100%{
        transform: translateX(200%)
    }
}