@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
:root {
  --primary-color: #8cc84c;
}
body{
  background: var(--primary-color);
  font-family: 'Poppins';
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}
.wrapper {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px
}
.title {
  font-size: 22px
}
.content {
  border: 1px solid #888;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;  
  border-radius: 5px
}
.content li {
  list-style:none;
  background: var(--primary-color);
  color: white;
  padding: 10px;
  margin: 4px 3px;
  border-radius: 3px;
}
.content li i {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer
}
.content input {
  border:none;
  outline:none;
  font-size: 20px;
  margin: 10px;
  flex: 1;
}
.remove-all {
    background: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.remove-all:hover {
 background: #7cac49;
}