@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins';
    height: 100vh;
    background: #17a2b8;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alert {
    font-size: 40px;
    font-weight: 600;
    color: #17a2b8;
    background: white;
    border-radius: 12px;
    padding: 10px 40px;
    border:none;
    outline: none
}
.box .result {
    height: 250px;
    width: 250px;
    border: 7px solid white;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 600;
    margin: auto;
    margin-bottom: 60px;
}
.card {
    width: 300px;
    background: white;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
}
.card p {
    padding: 10px;
    text-align:center;
    color: black;
    font-size: 20px;
}
.card p:first-child {
    background: #78c0c9;
    color: white;
}
.detail {
    display: flex;
}



.hide{
    display: none
}